* {
  margin: 0;
  padding: 0;
}
 /*______________________________*/
#weather{
	margin: 10px;
	text-align: center;
    border: black solid 1px;
    border-radius: 10px;
}

#navbar li{
 	padding: 10px;
	list-style-type: none;
	background-color: black;
	font-size: 20px;
	
}
#navbar li:hover{
	background-color: grey;
}
#navbar li:active{
	background-color: red;
	font-size: 20px;
	text-decoration: none;
}
#navbar a{
	text-decoration: none;
	color: white;
}
#weather1{
	color: white;
}

 /*______________________________*/
#chart{
	height: 400px;
	width: 500px;
}	
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
  }